* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #111, #000);
  color: white;
  font-family: Arial, sans-serif;
}

/* LOGIN FRAME */
.container{
  width: 100%;
  max-width: 320px;
  padding: 25px;
  text-align: center;

  background: rgba(15,15,15,0.55);
  border: 2px solid rgba(99,102,241,0.5);

  box-shadow: 0 0 20px rgba(99,102,241,0.25);

  transition: 
    background 0.4s ease,
    box-shadow 0.4s ease,
    border 0.4s ease;
}

/* HOVER EFFECT */
.container:hover{
  background: rgba(25,25,40,0.95);
  border-color: #6366f1;

  box-shadow:
    0 0 25px rgba(99,102,241,0.6),
    0 0 45px rgba(99,102,241,0.35);
}

/* TITLE */
.container h2{
  margin-bottom: 25px;
  letter-spacing: 1px;
}

/* INPUTS */
.container input{
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  outline: none;
  background: #1c1c1c;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}

.container input:focus{
  box-shadow: 0 0 0 2px rgba(99,102,241,0.6);
}

/* PASSWORD */
.password-box{
  position: relative;
}

.password-box input{
  padding-right: 42px;
}

.eye{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  border: 2px solid #6366f1;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

/* BUTTON HOVER */
button:hover{
  background: #6366f1;
  color: #000;
  box-shadow: 0 0 15px rgba(99,102,241,0.7);
}


